* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    background-color: #1f2937;

    display: flex;
    flex-direction: column;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

#header {
    display: flex;
    height: 55px;
    width: 100vw;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111827; 
    color: white;
}

#header h1 {
    align-self: center;
    margin: 0;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header img {
    margin-left: 100px;
}

#container {
    display: flex;
    position: relative;
    top: 55px;
}

#sideBar {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: fixed;
    height: calc(100vh - 55px);
    width: 25vw;
    padding: 20px;
    gap: 20px;
    background-color: #030712;
}

#sideBar .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#sideBar .buttons button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sideBar .buttons button img {
    margin-right: 10px;
}


#sideBar .buttons button, #projectContainer button {
    background-color: #1f293757;
    font-size: 17px;
    padding: 8px;
    text-align: left;
    border: none;
    outline: none;
    color: white;
}

#sideBar .buttons button:hover, #projectContainer button:hover {
    background-color: #bbbbbb3b;
}

#sideBar .buttons .highlight-button, #projectContainer .highlight-button  {
    background-color: #bbbbbb54;
}

#sideBar .buttons .highlight-button:hover, #projectContainer .highlight-button:hover {
    background-color: #bbbbbb54;
}



#content {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: auto;
    height: calc(100vh - 55px);
    width: calc(100vw - 25vw);

    color: white;
    margin-left: 25vw;
    gap: 10px;
    padding: 80px;
    padding-top: 15px;
}

#content .contentHeader {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid white;
}

.pageHeader, .projectPageHeader {
    align-self: flex-start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 22px;
}

.projectPageHeader {
    font-size: 2em;
    font-weight: bold;
    height: 37px;
    color: white;
    background-color: #ffffff00;
    border: none;
    outline: none;
}

#content .taskContainer .taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.mainTaskContainer {
    width: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.6);
}

.newTaskButton {
    height: 40px;
    width: 100%;
    background-color: #ffffff00;
    color: white;
    border: none;
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
}

.newTaskButton:hover {
    background-color: #d4d4d812;
}

.newTask {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    background-color: #d4d4d812;
    vertical-align: middle;
}

.newTaskContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    padding-right: 5px;
    padding-left: 15px;
}

.right-side {
    display: flex;
    gap: 8px;
}

.menuDropDown {
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-self: center;
    height: 32px;
    width: 32px;
    margin-right: 8px;
    align-items: center;
}

.newTask:hover .menuDropDown {
    visibility: visible;
}

.newTask input {
    background-color: #ffffff00;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    font-family: 'Open Sans';
}

.newTaskContent input[type=text] {
    width: 100%;
}

.newTask input[type=checkbox] {
    margin-left: 10px;
    width: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.newTaskForm {
    display: none;
    border: 1px solid black;
    background-color: #d4d4d812;
}

.formElement {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.formElement input {
    height: 40px;
    font-size: 17px;
    font-family: 'Open Sans';
}

.formElement input[type=text] {
    width: 70%;
    padding: 8px;
}

.formElement input[type=date] {
    width: 30%;
    text-align: center;
}

.formElement input, #projectName {
    background-color: #d4d4d812;
    outline: none;
    border: 1px solid white;
    color: white;
}

.formElement button {
    height: 30px;
    width: 50%;
    outline: none;
    border: 1px solid white;
    border-top: none;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

#submitNewTask, #submitSubTask, #cancelTask, #cancelSubTask {
    background-color: #d4d4d812
}

#addProject, #cancelProject {
    background-color: #bbbbbb3b;
}

#submitNewTask:hover, #submitSubTask:hover, #addProject:hover {
    transition: 0.2s;
    background-color: rgb(35, 141, 53)
}

#cancelTask:hover, #cancelSubTask:hover, #cancelProject:hover {
    transition: 0.2s;
    background-color: rgb(223, 47, 47);
}
 
.newTaskForm .formContainer {
    display: flex;
    flex-direction: column;
    color: white;
}


.subTaskForm {
    display: none;
    width: 100%;
}

.subTaskForm .subTaskFormContainer {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-left: 35px;
    color: white;
}

@media (max-width: 960px) {

    .subTaskForm .subTaskFormContainer {
        height: 40px;
    }
}

.subTaskFormContainer input[type=text] {
    width: 60%;
    font-size: 15px;
    padding: 8px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #d4d4d812;
}

.subTaskFormContainer button {
    width: 20%;
    outline: none;
    border: 1px solid white;
    border-left: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.subTaskContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 35px;
}

.subTaskContainer .subTask {
    display: flex;
    flex-direction: row;
    height: 30px;
    background-color: #d4d4d812;
    border-top: 1px solid #ffffff75;
}

.subTask input {
    background-color: #ffffff00;
    border: none;
    color: white;
    font-size: 15px;
    font-family: 'Open Sans';
}

.subTask input[type=checkbox] {
    margin-left: 10px;
    margin-right: 20px;
    width: 15px;
}

.subTaskContainer .subTaskDone input {
    text-decoration: line-through;
}

.subTaskContainer .subTaskDone {
    transition: 0.2s;
    background-color: #00ff454a;
}



.projects {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 14px;
    border-top: 4px solid rgba(255, 255, 255, 0.8);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.projectHeader {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 8px;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projectTitle {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

.projectTitle img {
    margin-right: 10px;
}

.projectHeader h3, button {
    margin: 0;
}

.projectHeader button {
    background-color: rgb(35, 141, 53);
    color: white;
    height: 25px;
    width: 25px;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border: none;
}

.projectHeader button:hover {
    background-color: #bbbbbb3b;
}

.projectForm {
    display: none;
    flex-direction: column;
    background-color: #bbbbbb3b;
    margin-top: 10px;
}

.projectButtons {
    display: flex;
}

.projectButtons button {
    width: 50%;
    height: 20px;
    outline: none;
    border: 1px solid white;
    border-top: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

#projectName {
    height: 30px;
    padding: 8px;
    font-size: 17px;
}

#projectContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 10px;
}

#projectContainer .newProject {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#projectContainer .deleteProjectButton {
    background-color: rgb(223, 47, 47);
    height: 25px;
    width: 25px;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}


#custom-menu {
    display: none;
    position: absolute;
    background-color: #111926;
    border: 1px solid #ccc;
    padding: 4px;
}
  
#custom-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2px;
}
  
#custom-menu li {
    cursor: pointer;
    padding: 7px;
    background-color: #2c3444;
    opacity: 100%;
    color: white;
    font-family: 'Open Sans';
    text-align: center;
}
  
#custom-menu li:hover {
    background-color: #292d38;
}

@keyframes deleteAnimation {
    0% { height: 40px; opacity: 100%; margin-bottom: 0px; border-top: 2px solid rgba(255, 255, 255, 0.6) }
    25% { background-color: #00ff454a; }
    100% { height: 0px; opacity: 0%; margin-bottom: -15px; border-top: 0px;}
}

.start-animation {
    animation: deleteAnimation 0.6s;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #2b3849 inset;
    -webkit-text-fill-color: white;
    caret-color: white;
}

/* For Firefox */
input::-moz-placeholder {
    color: transparent;
}

input:-moz-autofill {
    box-shadow: 0 0 0 1000px #2b3849 inset;
    color: white;
}