* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    background-color: grey;

    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    height: 55px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(138, 138, 138);
}

#header h1 {
    align-self: center;
    margin: 0;
    margin-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    display: flex;
    position: relative;
    top: 55px;
}

#sideBar {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: fixed;
    height: calc(100vh - 55px);
    width: 250px;
    padding: 20px;
    gap: 20px;
    background-color: rgb(48, 48, 48);
}

#sideBar .buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}

#sideBar .buttons button {
    padding: 8px;
}

.highlight-button {
    background-color: red;
}

#content {
    width: calc(100vw - 250px);
    height: calc(100vh - 55px);
    margin-left: 250px;
    background-color: rgb(163, 163, 163);

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 80px;
    padding-top: 15px;
}

#content .contentHeader {
    display: flex;
    min-height: 50px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pageHeader {
    align-self: flex-start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#content .taskContainer .taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mainTaskContainer {
    width: 100%
}

.newTaskButton {
    height: 50px;
    width: 100%;
}

.newTask {
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 100%;
    background-color: rgb(219, 218, 218);
    vertical-align: middle;
}

.newTaskContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.newTask input {
    background-color: #ffffff00;
    border: none;
}

.newTaskForm {
    display: none;
    position: absolute;
    height: 50px;
    border: 1px solid black;
}

.newTaskForm h1 {
    margin-top: 0px;
}






.subTaskContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 1px solid black;
}

.subTaskContainer .subTask {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    background-color: red;
}

.subTask input {
    background-color: #ffffff00;
    border: none;
}

.subTaskContainer .subTaskDone {
    background-color: aquamarine;
}





.projects {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid red;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.projectHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.projectHeader h4, button {
    margin: 0;
}

.projectForm {
    display: none;
    flex-direction: column;
    padding-top: 10px;
}


.projectButtons {
    display: flex;
}

.projectButtons button {
    flex: 1;
}

#projectContainer .newProject {
    height: 40px;
}


#projectContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 10px;
}



#custom-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}
  
#custom-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
#custom-menu li {
    cursor: pointer;
    padding: 5px;
}
  
#custom-menu li:hover {
    background-color: #f0f0f0;
}